collections:
  projects:
    output: true
  job_positions:
    sort_by: id
  testimonials:
  faqs:
    sort_by: id
defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"
  - scope:
      path: ""
    values:
      layout: "default"
