---
layout: default
---

<!doctype html>


	<main>
		<section class="flex flex-col md:flex-row gap-8 items-center md:px-50 md:py-24 items-center md:items-start">
			<div class="flex flex-col items-center gap-8 px-4 flex-1">
				<div
					class="font-normal font-satoshi text-4xl text-center md:text-left text-transparent bg-clip-text bg-[linear-gradient(49deg,_rgb(17,16,17)_0%,_rgba(17,16,17,_0.6)_100%)]">
					I'm Day! I'm a UX and Visual
					Designer
					based on
					Colombia.</div>
				<hr class="w-3/4" />

				<p class="font-normal font-satoshi text-center md:text-left text-2xl">My passion is to
					create
					intuitive, easy
					to use and clean digital products that connect with
					their users.</p>
			</div>
			<div class="flex justify-center flex-1">
				<canvas id="canvas"></canvas>
			</div>

    </section>
		<section class="flex flex-col items-center px-6 gap-6">
			<div class="py-18">
				<h2 class="text-4xl font-satoshi font-normal text-center">My work</h2>
			</div>
          {% include projects.html %}

			</div>
		</section>

		<section class="px-6 flex flex-col gap-5 items-center">
			<h2 class="text-2xl md:text-4xl py-18 line-clamp-3 font-satoshi font-normal text-center">What
				others are
				saying
				about my work,
				thank you!</h2>

			<div class="flex flex-col lg:flex-row justify-center gap-5">

				{% for testimonial in site.testimonials %}
				<div
					class="flex flex-col gap-6 h-[22.5rem] w-[20rem] rounded-3xl shadow-lg bg-white p-6">
					<div class="flex gap-5 items-center">
						<img alt="" src={{testimonial.image-url}}
							class="rounded-full object-cover size-[50px]" />
						<div class="flex flex-col">
							<h3
								class="text-xl font-normal text-left text-neutral-900 font-satoshi">
								{{testimonial.name}}
							</h3>

							<p
								class="mt-1 text-lg text-neutral-900 font-normal font-satoshi">
								{{testimonial.job-tile}}</p>

						</div>
					</div>

					<div class="">
						<p class="text-lg font-normal text-start font-satoshi text-neutral-900">
							{{testimonial.recommendation}}
						</p>
					</div>
				</div>

				{% endfor %}
			</div>
		</section>
		<section id="faq">
			<h2 class="text-2xl md:text-4xl py-18 line-clamp-3 font-satoshi font-normal text-center">
				Frequently asked</h2>

			<div class="space-y-4">
				{% for faq in site.faqs %}
				<details class="group [&_summary::-webkit-details-marker]:hidden cursor-pointer">
					<summary class="flex items-center justify-between gap-2 py-4 px-8">
						<h2 class="text-xl font-normal font-satoshi">{{ faq.title }} </h2>

						<svg class="size-6 stroke-gray-600 shrink-0 transition-transform duration-300 group-open:-rotate-180"
							xmlns="http://www.w3.org/2000/svg" fill="none"
							viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round"
								stroke-width="2" d="M19 9l-7 7-7-7" />
						</svg>
					</summary>

					<p class="px-8 font-normal text-lg text-neutral-500 font-satoshi">
						{{ faq.description }}
					</p>
				</details>
				{% endfor %}
			</div>
		</section>
	</main>
