<div class="flex flex-col gap-6 items-center mb-5">
  <div class="flex flex-col gap-4 md:gap-8 items-center">
    <div class="flex justify-center py-2 px-3 w-fit border border-gray-200 rounded-full">
      <span class="text-lg font-normal rounded-full">
        {{ page.industry }}
      </span>
    </div>

    <h2 class="font-satoshi text-3xl md:text-4xl font-semibold text-gray-900">{{page.title}}</h2>

    <p class="text-lg md:text-xl text-gray-600 mb-6">
      {{ page.overview }}
    </p>
  </div>
  <div class="relative overflow-hidden rounded-2xl">
    <img class="w-full h-auto {{ page.detail-header-image-custom-margin | default: "" }} md:my-0 md:mb-0"
      src="{{ page.detail-header-image-url }}" alt="{{page.title}} Image" />
  </div>
</div>
