---
layout: default
---
<div class="max-w-md md:max-w-none mx-auto p-8">
  <div class="flex flex-col gap-6 items-center">
    {% include project_overview.html %}
    {% include project_metadata.html %}
    {% include project_challenges.html %}
    {% include project_solutions.html %}
    {% include project_image.html 
      src="babysano1.png" 
      alt="babysano image"
      class="rounded-lg"
    %}
    {% include project_user_personas.html %}
    {% include project_image.html 
      src="babysano2.png" 
      alt="babysano image"
      class="rounded-lg"
    %}
  </div>
</div>
