---
layout: default
---
<div class="max-w-md mx-auto p-8 rounded-xl flex justify-center flex-col items-center">
  <div class="flex justify-center py-2 px-3 w-fit border border-gray-200 rounded-full">
    <span class="text-sm font-normal rounded-full">
      E-commerce & community
    </span>
  </div>

  <!-- Title -->
  <h2 class="text-2xl font-semibold text-gray-900 mb-2">BabySano</h2>

  <!-- Description -->
  <p class="text-sm text-gray-600 mb-6">
    24/7 resource for parents — offering children’s products, medical consultations and reliable information.
  </p>


  <!-- Footer Info -->
</div>
